body {
  background-color: #FFDFBF;
  color: #74665F;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 10px 28px;
  background-color: #D67D7D;
  border-style: none;
}

/*
https://www.schemecolor.com/vintage-direction.php

68B7A8
FFEDBE
D67D7D
74665F
*/